<ul>
    {% for easton_class in easton_classes %}
        <p>
            Location:  {{  easton_class.gym }}<br>
            Category:  {{  easton_class.category }}<br>
            Category enum:  {{  easton_class.category_enum }}<br>
            ID:  {{  easton_class.id }}<br>
            Name:  {{ easton_class.name }}<br>
            Requirements:  {{  easton_class.requirements }}<br>
            Date:  {{ easton_class.date }}<br>
            Start time:  {{ easton_class.start_time }}<br>
            End time:  {{  easton_class.end_time }}
        </p>
    {% endfor %}
</ul>